*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color:#001524;
}

.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

/* navbar CSS */

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
    font-size: 20px;
    color: white;
    align-items: center;  
}

.font-awesome{
    font-size: 30px;
    font-weight: 550;
    color: white;

}

.font-image{
    padding: 20px;
}

.navbar-item{
   display: flex;
   align-items: center;
   @media screen and (max-width:400px){
       display: block;
   }
}

.navbar-item div{
    padding: 10px;
    font-size: 20px;
    font-weight: 550;
    color: white;
    margin: 5px;
    border-radius: 4px;
    @media screen and (max-width:400px){
        border-bottom: 3px solid rgb(182, 188, 78); 
    }
}

.navbar-item div:hover{
    background-color: rgb(114, 113, 113);
    font-size: 20.5px;
    cursor: pointer;
}

.search-bar{
    display: flex;
    justify-content: center;
    text-align: center;
}

#search{
    border: none;
    outline: none;
    height: 3rem;
    width: 20rem;
    font-size: 30px;
    /* padding: 8px 0px 4px 10px; */
    padding-left:15px;
    border-radius: 22px 0px 0px 22px;
    @media screen and (max-width:400px){
        font-size: 20px;
        height: 2.7rem;
        width: 15rem;
    }
}

.search-bar > form > button{
    cursor: pointer;
    font-size: 28px;
    padding: 6px 12px 4px 10px;
    border-radius: 0px 15px 17px 0px;
    @media screen and (max-width:400px){
        font-size:27px;
        border-radius: 0px 13px 13px 0px;
        padding: 2px 10px 5px 8px;
    }
}

/* Gallery Section */

.gallery-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto,1fr);
    grid-gap: 10px;
    margin: 5%;
    justify-content: space-around;
    @media screen and (max-width:400px){
        grid-template-columns: repeat(1,1fr);
        margin: 3%;
        padding-top: 35px;
     }
}

.card{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card:hover{
    transform: scale(1.03);
    transition: 0.3s;
    filter: grayscale(0%);
}

/*  footer-container */

.footer-container{
    display: flex;
    justify-content:center;
    align-items: center;
} 

.show-more{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 10rem;
    margin: 10px;
    font-size: 25px;
    font-weight: 700;
    background-color: red;
    color: white;
    display: none;
    cursor: pointer;
   
    @media screen and (max-width:400px){
        font-size: 15px;
        height: 3rem;
        width: 7rem;
    }
}

#active{
   display: block;
   display: flex;
   justify-content: center;
   align-items: center;
}
